*{
	margin: 3px;
	padding: 3px;
}

canvas {
  border: solid black 1px;
}

#messageBox{
    width: 200px;  
    height: 30px;
    position: absolute;  
    top: 485px; 
    left: 15px;  
}

#saveButton{
    display:none;
}
